@use "../styles" as styles;

.header {
    font-family: styles.$header;
    color: white;
    display: grid;
    align-items: center;
    width: 100%;
    margin: 0;
    height: 6rem;
    grid-column: 1;
    grid-row: 1;
}

.headerName {
    justify-self: center;
    grid-column: 1;
    grid-row: 1;
}

.headerLeft {
    margin-left: 0.5rem;
    align-items: center;
    display: flex;
    grid-column: 1;
    grid-row: 1;
}

.headerRight {
    margin-left: auto;
    margin-right: 0.5rem;
    display: flex;
    grid-column: 1;
    grid-row: 1;
}

.menu {
    display: none;
}

.header a {
    text-decoration: none;
    color: white;
}

.header h1 {
    padding: 1rem;
    text-shadow: 1px 1px 1px black;
}

.header h1:hover, .menu:hover {
    text-decoration: underline;
    background: rgba($color: white, $alpha: 0.2);
    border-radius: 3rem;
}

@media only screen and (max-width: 1000px) {
    .header {
        display: flex;
    }

    .headerLeft h1 {
        display: none;
    }

    .headerRight h1 {
        display: none;
    }

    .headerName { 
        margin-left: 0;
        margin-right: auto;
    }
    
    .menu {
        display: flex;
        padding: 0.5rem;
    }
}